swagger: "2.0"
info:
  description: "This is the Swagger API Documentation for To-do-list web Application"
  version: "1.0.0"
  title: "To-Do-List"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "srisathya196@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

basePath: "/api"
tags:
- name: "users"
  description: "User Login Credentials"
- name: "to-do-list"
  description: "List of all the to-do's of the users"

schemes:
- "https"

paths:
  /users:
    get:
      tags:
      - "user"
      summary: "Get a list of all the users"
      description: ""
      operationId: "getUsers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        "405":
          description: "Invalid input"

    post:
      tags:
      - "user"
      summary: "Add user login credentials"
      description: ""
      operationId: "postUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "userName"
        in: "query"
        description: ""
        required: true
        type: "string"
      - name: "email"
        in: "query"
        description: ""
        required: true
        type: "string"
      - name: "password"
        in: "query"
        description: ""
        required: true
        type: "string"    
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/user"
        "400":
          description: "Invalid status value"


  /to-do's:
    get:
      tags:
      - "to-do-list"
      summary: "Get a list of all the to-do's of the users"
      description: ""
      operationId: "get-to-do's"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        "405":
          description: "Invalid input"

    post:
      tags:
      - "to-do-list"
      summary: "Add a to-do"
      description: ""
      operationId: "post-to-do"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "to-do"
        in: "query"
        description: ""
        required: true
        type: "string"
       
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/location"
        "400":
          description: "Invalid status value"


definitions:
  user:
    type: "object"
    properties:
      userName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"

  location:
    type: "object"
    properties:
      locationName:
        type: "string"
      address:
        type: "string"
      hours:
        type: "string"
      phoneNumber:
        type: "string"
      photo:
        type: "string"

 
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"